{% if button_type == 'link' %}
  <a
    class="button js-button io"
    href="{{link.url}}"
    target="{{link.target}}"
  >
    <span>{{link.title}}</span>
  </a>
{% elseif button_type == 'toggle' %}
  <a
    class="button js-button js-form-toggle io"
    href="#cta"
  >
    <span>{{toggle_label}}</span>
  </a>
{% endif %}