<header class="header js-header">
  <div class="header__inner-wrapper">
    <a class="header__home-link js-home-link" href="{{site.link}}" >
      <img class="header__logo-img" src="{{site.theme.link}}/assets/images/logo-black@2x.png" alt="Spotted Logo">
    </a>
    {% include 'nav.twig' %}
    {% include 'mobile-nav.twig' %}
  </div>
</header>