<section class="hero" {% if hero.image %}style="background-image: url({{Image(hero.image).src}})"{% endif %}>
  <div class="hero__inner-wrapper">
    {% if hero.heading %}
      <h1 class="hero__heading io">{{hero.heading}}</h1>
    {% endif %}
    {% if hero.body %}
      <div class="hero__body io">{{hero.body}}</div>
    {% endif %}
    {% include 'button.twig' with {
      button_type: hero.button_type,
      link: hero.link,
      toggle_label: hero.toggle_label,
    } %}
  </div>
</section>