<button class="pagination-button js-pagination-button" data-index="{{title}}">
  <span class="pagination-button__outer-wrapper" aria-hidden="true">
    <span class="pagination-button__inner-wrapper">
      {{'0' ~ title}}
    </span>
  </span>
  <span class="pagination-button__title">
    {{'0' ~ title}}
  </span>
</button>