<button class="pagination-button js-pagination-button" data-index="{{title - 1}}">
  <span class="pagination-button__outer-wrapper js-pagination-button-outer" aria-hidden="true">
    <span class="pagination-button__inner-wrapper js-pagination-button-inner">
      {{'0' ~ title}}
    </span>
  </span>
  <span class="pagination-button__title">
    {{'0' ~ title}}
  </span>
</button>