<div class="text-block{{ classes ? ' ' ~ classes }}">
  {% if text_block.heading %}
    <h2 class="text-block__heading io">{{text_block.heading}}</h2>
  {% endif %}
  {% if text_block.body %}
    <div class="text-block__body io">{{text_block.body}}</div>
  {% endif %}
  {% if not no_button %}
    {% include 'button.twig' with {
      button_type: text_block.button_type,
      link: text_block.link,
      toggle_label: text_block.toggle_label,
    } %}
  {% endif %}
</div>