.footer {
  width: 100%;
  padding: 6rem 3.5rem 3.5rem 3.5rem;
  background-color: var(--black);
  text-align: center;

  &__nav {
    margin-bottom: 5rem;
  }

  &__nav-link {
    display: inline-block;
    position: relative;
    color: var(--white);
    text-decoration: none;
    font-family: 'Overpass Mono', sans-serif;
    padding: 1rem 2.4rem;

    span {
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      display: block;
      background-color: color-mod(var(--purple) a(75%));
      width: calc(100% - 4.8rem);
      height: 8px;
      position: absolute;
      left: 2.4rem;
      bottom: 1rem;
      transform-origin: right;
      transition: transform 0.7s var(--ease-out-quint);
      transform: scaleX(0);
      pointer-events: none;
    }

    &:hover,
    &.expanded,
    &.current {
      &::before {
        transform: scaleX(1);
        transform-origin: left;
      }
    }
  }

  &__social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 3.2rem;
  }

  &__social-link {
    .icon {
      &--medium {
        width: 3.9rem;
        height: 3.9rem;
      }

      .primary-path {
        transition: fill 0.7s var(--ease-out-quint);
      }
    }

    &:hover .icon .primary-path {
      fill: var(--purple);
    }
  }

  &__copyright {
    color: var(--white);
    font-family: 'Karla', sans-serif;
    font-size: 1.4rem;
    margin: 0;
  }
}
