.grade-comparison {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  @media (width <= 30em) {
    font-size: 0.7rem;
  }

  @media (width <= 400px) {
    font-size: 0.55rem;
  }

  &__item {
    position: relative;
    width: 19em;
    height: 19em;

    &__image-wrap {
      position: relative;
      width: 19em;
      height: 19em;
      overflow: hidden;
      border-radius: 50%;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top center;
      transition: transform 1.2s var(--ease-out-quint),
        opacity 1.2s var(--ease-out-quint);
      opacity: 0;
      transform: translateX(-50%) scale(1.1);

      .shown & {
        opacity: 1;
        transform: translateX(-50%) scale(1);
      }
    }

    &__svg {
      width: 19em;
      height: 19em;
      position: absolute;
      top: 1.3em;
      left: 1.3em;
    }

    &__circle {
      r: 9.5em;
      cx: 9.5em;
      cy: 9.5em;
      fill: none;
      stroke: var(--black);
      stroke-width: 1px;
      transition: all 1.2s var(--ease-out-quint);
      opacity: 0;
      stroke-dasharray: 2px;

      .shown & {
        opacity: 1;
        stroke-dasharray: 6px;
      }
    }

    &__grade-wrap {
      width: 6.9em;
      height: 6.9em;
      border-radius: 50%;
      background-color: var(--purple);
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: -3.45em;
      left: 50%;
      margin-left: -3em;
      transition: opacity 0.7s var(--ease-out-quint) 0.1s,
        transform 0.7s var(--ease-out-back) 0.1s;
      opacity: 0;
      transform: scale(0);
      transform-origin: center center;

      &.shown {
        opacity: 1;
        transform: scale(1);
      }
    }

    &__grade {
      font-family: 'Roboto Condensed', serif;
      font-size: 3em;
      font-weight: 700;
      padding: 0 3em 0 4em;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: var(--white);
      margin-left: -0.8em;
    }
  }

  &__or {
    position: relative;
    padding: 0 3em 0 4em;
    overflow: hidden;

    p {
      margin: 0;
      font-family: 'Roboto Condensed', serif;
      font-size: 2.6em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      transform-origin: top left;
      transform: translateY(100%) skewY(20deg);
      transition: transform 0.7s var(--ease-out-quint);

      .shown & {
        transform: none;
      }
    }
  }
}
