.hero {
  position: relative;
  background-color: var(--black);
  padding: var(--header-height) 3.5rem 0 3.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--reports-template {
    &::before {
      content: '';
      display: block;
      width: 10rem;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--white);

      @media (width <= 960px) {
        display: none;
      }
    }
  }

  &__inner-wrapper {
    width: 100%;
    max-width: 110rem;
    margin: 0 auto;
    padding: 13.5rem 0;

    .hero--simple-resource-template & {
      padding: 4rem 0 5rem;
    }

    @media (width <= 1000px) {
      max-width: 87rem;
    }

    @media (width <= 850px) {
      padding: 9rem 0;

      .hero--simple-resource-template & {
        padding: 3rem 0 4rem;
      }
    }

    @media (width <= 700px) {
      padding: 6.5rem 0 9rem;

      .hero--simple-resource-template & {
        padding: 2rem 0 3rem;
      }
    }
  }

  &__heading {
    font-family: 'Overpass Mono', monospace;
    font-size: 5.5rem;
    line-height: 1.2727;
    color: var(--white);
    margin: 0 0 2rem 0;
    max-width: 80rem;
    z-index: 1;

    @media (width <= 850px) {
      font-size: 5rem;
    }

    @media (width <= 700px) {
      font-size: 4rem;
    }

    [data-namespace='about'] & {
      color: var(--black);
    }
  }

  &__body {
    font-family: 'Karla', sans-serif;
    font-size: 1.8rem;
    line-height: 1.33;
    color: var(--white);
    max-width: 54rem;
    margin: 0 0 4rem 0;
    z-index: 1;

    @media (width <= 700px) {
      font-size: 1.6rem;
    }

    [data-namespace='about'] & {
      color: var(--black);
    }
  }

  &__image {
    position: absolute;
    top: 12.5rem;
    right: 0;
    width: 40%;

    @media (width <= 60em) {
      display: none;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate3d(0, 100%, 0);
    opacity: 0;
    will-change: transform, opacity;
    transition: transform 0.8s var(--ease-out-quart),
      opacity 0.8s var(--ease-out-quart);
    transition-delay: 0.1s;

    img {
      width: 100%;
      height: auto;
      transform: translate3d(0, -75%, 0);
      will-change: transform;
      transition: transform 0.8s var(--ease-out-quart);
      transition-delay: 0.1s;
    }

    .hero__image.shown & {
      opacity: 1;
      transform: none;

      img {
        transform: none;
      }
    }
  }
}
