.slideshow {
  position: absolute;
  top: -3.5rem;
  right: 7.5rem;
  left: 50%;
  height: 68rem;
  margin-left: 3rem;
  padding-top: 2.6rem;
  background-color: var(--gray-blue);

  &__slides {
    position: relative;
    width: 100%;
    height: calc(100% - 9rem);
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;

    &.enhanced {
      display: grid;
      grid-template-rows: repeat(60, 1fr);
    }

    .slice {
      position: relative;
      overflow: hidden;

      &__inner {
        position: relative;
        width: 100%;
        height: 100%;
      }

      &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }

  &__img {
    height: 100%;
    width: auto;
  }

  &__pagination {
    width: 100%;
    height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pagination-button {
  position: relative;
  padding: 0 2rem;

  span {
    display: inline-block;
  }

  &__inner-wrapper,
  &__title {
    font-family: 'Overpass Mono', monospace;
    font-size: 2.6rem;
    font-weight: 700;
  }

  &__outer-wrapper {
    position: absolute;
    overflow: hidden;
    transform: translateX(-100%);
  }

  &__inner-wrapper {
    color: var(--white);
    transform: translateX(100%);
  }

  &__title {
    color: var(--purple);
  }
}
