.testimonial {
  margin: 0;

  &__quote {
    max-width: 5rem;
    margin-bottom: 3.5rem;
  }

  &__content {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.25;
    margin: 0 0 2.5rem 0;
  }

  &__title {
    font-family: 'Overpass Mono', monospace;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.54;
    margin: 0;

    &::before {
      content: '–';
      margin-right: 0.5rem;
    }
  }
}
