.text-block {
  max-width: 48rem;
  &--push-right {
    margin: 0 auto 4rem auto;
  }
  &__heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3rem;
    line-height: 1.2727;
    margin: 0 0 2rem 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    @media (width <=700px) {
      font-size: 2.4rem;
    }
  }
  &__body {
    font-family: 'Karla', sans-serif;
    font-size: 1.8rem;
    line-height: 1.33;
    margin: 0 0 4rem 0;
    @media (width <=700px) {
      font-size: 1.6rem;
    }
    * {
      margin: 0;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
