{% extends 'base.twig' %}

{% block content %}

  <div class="barba-container" data-namespace="page">
    <main class="content pt6 pl5">
      <h1 class="sans-serif b ma0">{{post.title}}</h1>
    </main>
    {% include 'footer.twig' %}
  </div>

{% endblock %}
