{% extends 'base.twig' %}

{% set hero = post.get_field('hero') %}
{% set section_one = post.get_field('section_one') %}
{% set section_two = post.get_field('section_two') %}

{% block content %}

  <div class="barba-container" data-namespace="brand">
    <main class="content">
      {% include 'hero.twig' with {
        hero: hero,
        simple_resource_template: true
      } %}
      <section class="section">
        <div class="section__row">
          <img class="w-100" src="{{Image(section_one.resource_image).src}}" alt="">
        </div>
      </section>
      <div class="w-100 ph">
        <div class="tc white bg-gray-blue ph5 pt6 pb6">
          <div class="pb5">
            <h1 class="section__heading">{{section_two.text_block.heading}}</h1>
          </div>
          {% include 'button.twig' with {
            button_type: section_two.text_block.button_type,
            toggle_label: section_two.text_block.toggle_label,
            form_name: section_two.text_block.form_name
          } %}
        </div>
      </div>
    </main>
    {% include 'footer.twig' %}
  </div>

{% endblock %}
